@import "mixins/mixins";
@import "common/var";

@include b(anchor) {
  position: relative;
  padding-left: $--anchor-border-width;
  font-size: $--font-size-base;

  &-wrapper {
    margin-left: -4px;
    padding-left: 4px;
    overflow: auto;
    background-color: $--color-white;
  }

  &-ink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    &::before {
      position: relative;
      display: block;
      width: $--anchor-border-width;
      height: 100%;
      margin: 0 auto;
      background-color: $--border-color-light;
      content: ' ';
    }
    &-ball {
      position: absolute;
      left: 50%;
      display: none;
      width: 8px;
      height: 8px;
      background-color: $--color-white;
      border: 2px solid $--color-primary;
      border-radius: 8px;
      transform: translateX(-50%);
      transition: top 0.3s ease-in-out;
      &.visible {
        display: inline-block;
      }
    }
  }

  &.fixed &-ink &-ink-ball {
    display: none;
  }

  &-link {
    padding: 7px 0 7px 16px;
    line-height: 1.5;

    &-title {
      position: relative;
      display: block;
      margin-bottom: 6px;
      overflow: hidden;
      color: $--color-text-primary;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: all 0.3s;

      &:hover {
        color: $--color-primary;
      }

      &:only-child {
        margin-bottom: 0;
      }
    }

    &-active > &-title,
    &-active > .sp-tooltip > &-title {
      color: $--color-primary;
    }
  }

  &-link &-link {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &.sp-anchor-active-link-border {
    .sp-anchor-ink {
      &:before {
        content: none;
      }
    }
    .sp-anchor-ink-ball {
      display: none;
    }
    .sp-anchor-link {
      border-left: 1px solid $--border-color-light;
      padding: 4px 0 4px 16px;

      &.sp-anchor-link-active {
        border-left: 2px solid $--color-primary;
      }
    }
  }

  a {
    text-decoration: none;
    outline: 0;
  }
}
