@import "mixins/mixins";
@import "common/var";

@mixin input-height ($inputHeight){
  line-height: $inputHeight - 2px;
    >.sp-input-number {
      line-height: $inputHeight - 2px;
    }
    .sp-input__inner {
      height: $inputHeight - 2px;
      line-height: $inputHeight - 2px;
    }
}

@include b(input-number-range) {
  position: relative;
  font-size: $--font-size-base;
  display: inline-table;
  vertical-align: middle;
  line-height: normal;
  border-collapse: separate;
  border-spacing:0;
  @include scroll-bar;
  
  @include e(local) {
    position: relative;
    display: inline-table;
    width: 200px;
    vertical-align: middle;
    border: 1px solid #D9D9D9;
    border-radius: $--input-border-radius;
    box-sizing: border-box;
    line-height: $--input-height - 2px;
    >.sp-input-number {
      display: table-cell;
      line-height: $--input-height - 2px;
    }
    .sp-input__inner {
      height: $--input-height - 2px;
      line-height: $--input-height - 2px;
      vertical-align: top;
      border: none;
    }
    &::placeholder {
      color: $--input-placeholder-color;
    }

    &:hover {
      border-color: $--input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $--input-focus-border;
    }
    @include e(separate)  {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;
      padding: 0 $--input-number-range-separate-padding-horizontal;
    }
  }
  
  @include when(disabled) {
    background-color: $--input-disabled-fill;
    @include e((separate, local)) {
      color: $--input-disabled-color;

      &:hover {
        color: $--input-disabled-color;
        cursor: not-allowed;
      }
    }
    @include e(local) {
      border-color: $--disabled-border-base;
    }
  }
  @include m(large) {
    @include e(local) {
      @include input-height($--input-large-height);
    }
  }
  @include m(small) {
    @include e(local) {
      @include input-height( $--input-small-height);
    }
    
  }
  @include m(mini) {
    @include e(local) {
      @include input-height( $--input-mini-height);
    }
  }
}

@include b(input-number-range-group) {
  line-height: normal;
  display: inline-table;
  border-collapse: separate;
  border-spacing:0;

  > .sp-input__inner {
    vertical-align: middle;
    display: table-cell;
  }


  @include e((append, prepend)) {
    background-color: $--background-color-light1;
    color: $--color-info;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: $--border-base;
    border-radius: $--input-border-radius;
    padding: 0 12px;
    width: 1px;
    white-space: nowrap;

    > .sp-input {
      width: auto;
    }

    &:focus {
      outline: none;
    }

    > .sp-select,
    > .sp-button,
    > .sp-input {
      display: inline-block;
      margin: -10px -12px;
      .sp-input .sp-input__inner {
        padding: 0 10px 0 0;
      }
    }

    button.sp-button,
    div.sp-select .sp-input__inner,
    div.sp-select:hover .sp-input__inner,
    .sp-input__inner {
      border-color: transparent;
      background-color: transparent;
      border-top: 0;
      border-bottom: 0;
    }

    .sp-select {
      .sp-input__inner {
        text-align: center;
      }
    }
    
    .sp-button,
    .sp-input {
      font-size: inherit;
    }
  }

  &.is-disabled {
    @include e((append, prepend)) {
      background-color: $--background-color-light1;
    }
  }
  
  @include e(prepend) {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .sp-input__inner:hover,
    .sp-input__inner:focus {
      border-color: transparent;
    }
  }

  @include e(append) {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @include m(prepend) {
    .sp-input__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .sp-select .sp-input.is-focus .sp-input__inner {
      border-color: transparent;
    }
  }

  @include m(append) {
    .sp-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .sp-select .sp-input.is-focus .sp-input__inner {
      border-color: transparent;
    }
  }
}